---
layout: default
---

{{ content }}

<div class="home">
  <v-card class="post">
    <v-card-title>
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}
    </v-card-title>
    <v-card-text>
      {{ content }}

      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <v-list three-line>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts -%}
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  <h3>{{ post.title | escape }}</h3>
                </a>
              </v-list-item-title>
              <v-list-item-subtitle>
                <strong>{{ post.date | date: date_format }}</strong>
              </v-list-item-subtitle>
              <v-list-item-subtitle class="excerpt">
                {{ post.excerpt }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          {%- endfor -%}
        </v-list>

        {% if site.paginate %}
          <div class="pager">
            <ul class="pagination">
            {%- if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
              <li><div class="current-page">{{ paginator.page }}</div></li>
            {%- if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
            {%- else %}
              <li><div class="pager-edge">•</div></li>
            {%- endif %}
            </ul>
          </div>
        {%- endif %}

      {%- endif -%}
    </v-card-text>
  </v-card>
</div>
