<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href="/assets/neutron.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/favicon.ico">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app dark color="primary">
          <a href="/"><h2 class="font2">{{ site.title }}</h2></a>
          <div>
            <!-- <v-btn text href="/blog/">Blog</v-btn> -->
          </div>
        </v-app-bar>
        <v-main>
          {{ content }}
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var THEME = {
        themes: {
          light: {
            primary: "#009688",
            accent: "#ff9800",
            warn: "#dc143c"
          }
        }
      };

      new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: THEME})
      })
    </script>
  </body>
</html>
